body {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

input {
  text-align: center;
  font-size: calc(10px + 2vmin);
  width: calc(160px + 2vmin);
  height: calc(32px + 2vmin);
}
