body {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(100vmin/32);
  color: white;
  text-align: center;
}

h1 {
  font-size: calc(100vmin/16);
}

select {
  font-size: calc(100vmin/32);
}

a {
  color: #61dafb;
}
